:root {
    --primary: #21a094;
    /* --selected-blue: #d2e4f9;
    --selected-red: #fecbcf;
    --selected-yellow: #fbeed1;
    --selected-orange: #fedecd;
    --selected-pink: #f8cde6;
    --selected-green: #cde7e2;
    --selected-purple: #e1d2f9; */
    --selected-1: #E6B8AF;
    --selected-2: #F4CCCD;
    --selected-3: #FDE5CE;
    --selected-4: #FFF3CC;
    --selected-5: #DAEAD3;
    --selected-6: #D1E0E3;
    --selected-7: #D9D3E9;
    --selected-8: #EBD2DC;
    --selected-9: #DD7E6B;
    --selected-10: #EB9A99;
    --selected-11: #F9CC9C;
    --selected-12: #B6D7A8;
    --selected-13: #A4C2F4;
    --selected-14: #B7A9DA;
    --selected-15: #D5A6BD;
    --primary-text: #1a1916;
    --body-bg: #fff;
    --body-color: #000;
    --link-color: #222;
    --link-color-hover: #000;
    --drop-bg: #f5f5f5;
    --nav-bg: #f5f5f5;
    --audio-bg: rgba(255, 255, 255, 1.00);
    --title-color: ;
    --transcript-bg: ;
    --transcript-ol: ;
    --select-bg: ;
    --cat-weight: 400;
    --tag-color: rgba(0, 0, 0, 0.7);
    --text-border-color: #dbdbdb;
    --switch-bg: #D83434;
    --placeholder-color: rgb(122, 122, 122);
}

/* dark theme */
[data-theme="dark"] {
    /* @media (prefers-color-scheme: dark) { */
    /* :root { */
    --body-bg: #2f3437;
    --body-color: #e7e7e7;
    --link-color: #dee2e6;
    --link-color-hover: #fff;
    --nav-bg: #373c3f;
    --audio-bg: ;
    --title-color: #ebebeb;
    --transcript-bg: ;
    --transcript-ol: ;
    --select-bg: #25282a;
    --icon-color: #8f9295;
    --drop-bg: #3f4447;
    --selected-blue: #487089;
    --selected-red: #9f5b58;
    --selected-yellow: #9f914a;
    --selected-orange: #9f7346;
    --selected-pink: #904c74;
    --selected-green: #457771;
    --selected-purple: #6c5990;
    --selected-grey: none;
    --primary-text: #ebebeb;
    --tag-color: #ebebeb;
    --text-border-color: #25282a;
    --cat-weight: 600;
    --switch-bg: #25282a;
    --audio-icon: #e7e7e7;
    --font-weight: 500;
    --placeholder-color: rgb(122, 122, 122);
}

::placeholder {
    color: var(--placeholder-color) !important;
}

button {
    font-weight: bold;
}

*:focus {
    outline: none;
}

.textarea {
    border-color: var(--text-border-color) !important;
}

label {
    white-space: nowrap;
    font-weight: var(--font-weight);
}

.scroller {
    scrollbar-color: var(--select-bg) var(--body-bg);
}

.drop-content {
    background-color: var(--drop-bg) !important;
}

.icon {
    color: var(--icon-color);
}

.title,
.content {
    color: var(--title-color);
}

.navbar,
.is-light {
    background-color: var(--nav-bg);
    color: var(--body-color);
}

a,
.navbar-time {
    color: var(--body-color) !important;
}

#hypertranscript {
    background-color: var(--transcript-bg);
    color: var(--body-color);
    font-weight: var(--font-weight);
    border:none;
    box-shadow: none !important;
    max-height: none;
}

select,
.select,
input {
    background-color: var(--select-bg) !important;
    border-color: var(--text-border-color) !important;
    color: var(--body-color) !important;
}

label {
    color: var(--body-color);
}

.play-pause-btn__icon, .volume__speaker {
    fill: var(--audio-icon);
}

div .controls {
    color: var(--body-color);
}

.select::after {
    border-color: var(--icon-color) !important;
}

.accordion {
    background-color: var(--body-bg);
}

.green-audio-player, .controls {
    background-color: var(--nav-bg);
    color: var(--body-color) !important;
}

.pin {
    background-color: var(--primary) !important;
}

::selection {
     background: #C4E1FF;
    /* WebKit/Blink Browsers */
}

/* html {
    height: 100%;
} */

body, html {
    height: 95vh;
    background-color: var(--body-bg);
    overflow: hidden;
}

.full-height {
    height: 100%;
}

/* don't allow tags to be editable over multiple lines */
.single-line {
    overflow: hidden;
}

/* highlight shadow effect on category selection */
@keyframes highlightt {
    0% {
        -webkit-box-shadow: 0px 0px 8px 4px rgba(184, 184, 184, 0.61);
        -moz-box-shadow: 0px 0px 8px 4px rgba(184, 184, 184, 0.61);
        box-shadow: 0px 0px 8px 4px rgba(184, 184, 184, 0.61);
    }

    100% {}
}

.highlightt {
    animation: highlightt 3s;
}

.tag-text {
    color: var(--tag-color)
}

.drop-content {
    max-width: 250px;
}

.annotation-section {
    height: 100%;
    overflow-y: scroll;
}

[contenteditable="true"].single-line br {
    display: none;
}

.no-right-padding {
    padding-right: 0px;
}

.green-audio-player {
    min-width: 250px;
    height: auto !important;
    box-shadow:none !important;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.full-width {
    width: 100%;
}

.accordion {
    cursor: pointer;
    padding-bottom: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* .active-accordion, .accordion:hover {
    background-color: #ccc;
    } */

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    min-height: 50px;
    background-color: var(--drop-bg) !important;
    color: var(--primary-text);
}


.link {
    color: var(--color-primary);
}

.low-confidence {
    background-color: rgba(238, 20, 4, 0.301) !important;
}

.not-interactive {
    color: var(--primary-text) !important;
}

.selected {
    color: var(--tag-color);
}

.selected-1 {
    background-color: var(--selected-1);
}

.selected-2 {
    background-color: var(--selected-2);
}

.selected-3 {
    background-color: var(--selected-3);
}

.selected-4 {
    background-color: var(--selected-4);
}

.selected-5 {
    background-color: var(--selected-5);
}

.selected-6 {
    background-color: var(--selected-6);
}

.selected-7 {
    background-color: var(--selected-7);
}

.selected-8 {
    background-color: var(--selected-8);
}

.selected-9 {
    background-color: var(--selected-9);
}

.selected-10 {
    background-color: var(--selected-10);
}

.selected-11 {
    background-color: var(--selected-11);
}

.selected-12 {
    background-color: var(--selected-12);
}

.selected-13 {
    background-color: var(--selected-13);
}

.selected-14 {
    background-color: var(--selected-14);
}

.selected-15 {
    background-color: var(--selected-15);
}

.selected-remove {
    background-color: var(--selected-grey) !important;
}

.button-1 {
    background-color: var(--selected-1);
}

.button-2 {
    background-color: var(--selected-2);
}

.button-3 {
    background-color: var(--selected-3);
}

.button-4 {
    background-color: var(--selected-4);
}

.button-5 {
    background-color: var(--selected-5);
}

.button-6 {
    background-color: var(--selected-6);
}

.button-7 {
    background-color: var(--selected-7);
}

.button-8 {
    background-color: var(--selected-8);
}

.button-9 {
    background-color: var(--selected-9);
}

.button-10 {
    background-color: var(--selected-10);
}

.button-11 {
    background-color: var(--selected-11);
}

.button-12 {
    background-color: var(--selected-12);
}

.button-13 {
    background-color: var(--selected-13);
}

.button-14 {
    background-color: var(--selected-14);
}

.button-15 {
    background-color: var(--selected-15);
}


.accordion-category {
    color: var(--tag-color) !important;
    font-weight: var(--cat-weight);
}

.category-1 {
    background-color: var(--selected-1) !important;
}

.category-2 {
    background-color: var(--selected-2) !important;
}

.category-3 {
    background-color: var(--selected-3) !important;
}

.category-4 {
    background-color: var(--selected-4) !important;
}

.category-5 {
    background-color: var(--selected-5) !important;
}

.category-6 {
    background-color: var(--selected-6) !important;
}

.category-7 {
    background-color: var(--selected-7) !important;
}

.category-8 {
    background-color: var(--selected-8) !important;
}

.category-9 {
    background-color: var(--selected-9) !important;
}

.category-10 {
    background-color: var(--selected-10) !important;
}

.category-11 {
    background-color: var(--selected-11) !important;
}

.category-12 {
    background-color: var(--selected-12) !important;
}

.category-13 {
    background-color: var(--selected-13) !important;
}

.category-14 {
    background-color: var(--selected-14) !important;
}

.category-15 {
    background-color: var(--selected-15) !important;
}

.category-remove {
    background-color: var(--selected-grey) !important;
}

.annotation-button {
    color: var(--primary-text);
    border: none;
    border-radius: 3px;
    font-size: 11.5pt;
    padding-top: 0px;
    padding-bottom: 0px;
}

.drop-content {
    -webkit-box-shadow: 0px 9px 25px -13px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 9px 25px -13px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 9px 25px -13px rgba(0, 0, 0, 0.57);
    padding: 12px !important;
}

.drop-content::before {
    border-bottom-color: white !important;
}


.temporary-link {
    color: #21a094 !important;
}

#times{
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
}

#content{
  margin-left: 186px;
}

#times span{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .5;
}
.navbar{
  box-shadow: 1px 1px 2px #ccc;
}

.feedback{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 1rem;
  background: var(--primary);
  color: #fff !important;
  z-index: 1;
  padding: .2rem .6rem .2rem  .3rem ;
}
